<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<table>
  <thead>
    <tr>
      <th>Titile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.titile,topic %></td>
        <td><%= pluralize(topic.votes.count,"vote")%></td>
        <td><%= button_to '+1',upvote_topic_path(topic),method: :post %></td>
        <td><%= button_to '-1',lowvote_topic_path(topic),method: :post %></td>
        <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3><%= link_to 'New Topic', new_topic_path %></h3>

<p><h1><%= link_to "About", about_topic_path(:id) %></h1></p>
